body{
  font-family: "Roboto", serif;
  font-style: italic;
}

/******************tipografia****************/
.box{
  width: 220px;
  height: 270px;
  box-shadow: 8px 10px 1px -8px #CECECE;
  float: left;
  text-align: center;
  background-color: #F4F1F1;
  padding-top: 30px;
  margin:5px;
  -webkit-transition: all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  color:#777777;
  transition: all 1s ease;
}
h2{

  font-style: normal;
  font-weight: bold;
}
h5{
  font-family: "Slabo+27px" ,serif;
  font-size: 10px;
}
p{
  font-style: normal;
}
.box:hover{
  padding-top: 20px;
  color: white;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color:#7aa2f4;
  -webkit-transition:all .0.5s ease-in-out;

}
.icon-paperplane,
.icon-diamond,
.icon-heart,
.icon-cup,
.icon-food{
    font-size: 55px;
}
